asgiref==3.11.1
colorama==0.4.6
Django==6.0.4
django-cleanup==9.0.0
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==25.3.0
packaging==26.0
pillow==12.2.0
qrcode==8.2
sqlparse==0.5.5
tzdata==2026.1
whitenoise==6.12.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
